:root {
    --rowNum: 16;
    --colNum: 16;
}

html, body {
    margin: 0px;
    height: 100%;
}

#container {
    height: 100%;
    background-color: black;
}


#title {
    text-align: center;
    padding: 18px 0px;
    background-color: navy;
    color: white;
    width: 100%;
}

#cell-container {
    display: grid;
    padding: 10px 10px;
    background-color: antiquewhite;
    height: 83%;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-template-rows: repeat(var(--rowNum), 1fr);
}

.grid-item {
    border: 1px solid #ddd;
    background-color: white;
}

.grid-item2 {
    border: 1px solid #ddd;
    background-color: black;
}